/war/com.zorzella.tamandua.DB/*
/war/com.zorzella.tamandua.gwt.tamandua/*
/war/WEB-INF/appengine-generated/*
/war/WEB-INF/classes/*
/war/WEB-INF/deploy/*
/war/tamandua/*
/gwt-unitCache/*
*~
/war/WEB-INF/lib/appengine-api-1.0-sdk-*.jar
/war/WEB-INF/lib/jsr107cache-1.1.jar
/war/WEB-INF/lib/appengine-jsr107cache-*.jar
/war/WEB-INF/lib/datanucleus-core-*.jar
/war/WEB-INF/lib/jdo2-api-*-eb.jar
/war/WEB-INF/lib/geronimo-jpa_3.0_spec-*.jar
/war/WEB-INF/lib/datanucleus-jpa-*.jar
/war/WEB-INF/lib/geronimo-jta_1.1_spec-*.jar
/war/WEB-INF/lib/gwt-servlet.jar
/war/WEB-INF/lib/datanucleus-appengine-*.jar
/war/WEB-INF/lib/appengine-api-labs-*.jar
/war/WEB-INF/lib/google_sql.jar
