body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 9pt;
  background-color: light-grey;
}

td {
  font-size: 9pt;
  white-space:nowrap;
}

tr.a td {
  background-color: #FCF6CF;
}

tr.b td {
  background-color: #FEFEF2;
}

th {
  font-size: 9pt;
  text-align: left;
}

input.long {
  width: 20em;
}

input.medium {
  width: 7em;
}

input.short {
  width: 5em;
}

input.x-short {
  width: 3em;
}


/**********************************
*            Popup Demo
***********************************/
.table-center
{
    margin-left            :    auto;
    margin-right           :    auto;
}
.demo-popup
{
    background-color       :    #FFFFEE;
    border                 :    1px solid #009;
    /* above the slider bar */
    z-index: 2;
}
.demo-Composite
{
    margin                 :    0 auto;
}
.demo-popup-header
{
    background-color       :    #ff0;
    font-size              :    90%;
    font-weight            :    bold;
    border-bottom          :    3px solid #009;
    padding                :    5px;
    text-align             :    center;
}
.demo-popup-message
{
    font-size              :    80%;
    padding                :    15px;
}
.demo-popup-footer
{
    padding                :    5px;
    text-align             :    center;
    width                  :    100%;
}

.hspacer {
  width: 100%;
}

.vspacer {
  height: 100%;
}

/* div {
  border: 1px solid #FFFFcc;
} */

.borrow-prev {
  border: 1px solid #0000FF;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0.5em;
}
  
.borrow-next {
  border: 1px solid #0000FF;
  position: absolute;
  bottom: 0px;
  right: 50%;
  padding: 0.5em;
}
  
.borrow {
  border: 1px solid #0000FF;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0.5em;
}
  
.prev {
  border: 1px solid #0000FF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
}

.next {
  border: 1px solid #0000FF;
  position: absolute;
  top: 0;
  right: 50%;
  padding: 0.5em;
}

.close {
  border: 1px solid #0000FF;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
}

.title {
  position: absolute;
  bottom: 50%;
  left: 0;
}

.popup-panel {
  margin: 1.25em;
  width: 310px;
  height: 420px;
  position: relative;
}