<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>sign</servlet-name>
    <servlet-class>com.zorzella.tamandua.SignGuestbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guestbook</servlet-name>
    <servlet-class>com.zorzella.tamandua.GuestbookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestbook</servlet-name>
    <url-pattern>/guestbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.zorzella.tamandua.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>com.zorzella.tamandua.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dump</servlet-name>
    <servlet-class>com.zorzella.tamandua.DumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dump</servlet-name>
    <url-pattern>/dump</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>member</servlet-name>
    <servlet-class>com.zorzella.tamandua.MemberChooserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrowreturn</servlet-name>
    <servlet-class>com.zorzella.tamandua.BorrowReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrowreturn</servlet-name>
    <url-pattern>/borrowreturn</url-pattern>
  </servlet-mapping>




	<servlet>
		<servlet-name>bibliotecatamandua</servlet-name>
		<servlet-class>com.zorzella.tamandua.BibliotecaTamanduaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bibliotecatamandua</servlet-name>
		<url-pattern>/bibliotecatamandua</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
