<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.zorzella.tamandua.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list</servlet-name>
    <servlet-class>com.zorzella.tamandua.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>email</servlet-name>
    <servlet-class>com.zorzella.tamandua.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>email</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyitems</servlet-name>
    <servlet-class>com.zorzella.tamandua.ModifyItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyitems</servlet-name>
    <url-pattern>/modifyitems</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyloans</servlet-name>
    <servlet-class>com.zorzella.tamandua.ModifyLoansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyloans</servlet-name>
    <url-pattern>/modifyloans</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifymembers</servlet-name>
    <servlet-class>com.zorzella.tamandua.ModifyMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifymembers</servlet-name>
    <url-pattern>/modifymembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dump</servlet-name>
    <servlet-class>com.zorzella.tamandua.DumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dump</servlet-name>
    <url-pattern>/dump</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tamandua</servlet-name>
    <servlet-class>com.zorzella.tamandua.TamanduaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tamandua</servlet-name>
    <url-pattern>/tamandua</url-pattern>
  </servlet-mapping>


<!-- Begin GWT -->
  <servlet>
    <servlet-name>memberService</servlet-name>
    <servlet-class>com.zorzella.tamandua.gwt.server.MemberServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>memberService</servlet-name>
    <!-- TODO >url-pattern>/tamandua/member</url-pattern -->
    <url-pattern>/com.zorzella.tamandua.gwt.tamandua/member</url-pattern>
    
  </servlet-mapping>
<!-- End GWT -->



	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
